.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerImg {
  border-radius: 50%;
  overflow: hidden;
  display: flex;
}

.profile-image {
  margin-top: 0px;
  width: 100%;
  object-fit: cover;
}
